<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/JuaraCoding/sqabacth8/Day19/src/test/java/com/juaracoding/appium/TestCalculator.java"><classes><class name="com.juaracoding.appium.TestCalculator"><methods><include name="testAdd"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/JuaraCoding/sqabacth8/Day19/src/test/java/com/juaracoding/appium/TestCalculatorMultiply.java"><classes><class name="com.juaracoding.appium.TestCalculatorMultiply"><methods><include name="testAdd"/></methods></class></classes></test></suite>